//PAGE 404
@import "../../settings/01-variables";
@import "../../settings/05-mixins";

.error404 {
	.content {
		text-align: center;
		padding: rem(80) 0;

		h1 {
			font-size: rem(42);
			font-weight: 700;
			line-height: 1.2;
			padding-bottom: 30px;

			span {
				font-size: rem(85);
				font-weight: 700;
				line-height: 1.2;
				color: $main-color;
			}
		}

		p {
			font-size: rem(24);
			font-weight: 700;
		}

		.table {
			padding: 40px 0 20px;
		}
	}
}